{% sw_extends '@Storefront/storefront/page/account/profile/reset-password.html.twig' %}

{% block page_account_profile_reset_password_form %}
    {% set oauthClients = tinect_oauth_clients_for_recovery_hash(page.getHash) %}

    {% if oauthClients|length > 0 %}
        <div class="account-reset-password-form card">
            {% block page_account_profile_reset_password_title %}
                <h1 class="card-title">
                    {{ 'account.profileRecoverPasswordTitle'|trans }}
                </h1>
            {% endblock %}
            <div class="card-body">
                <p>{{ 'tinect-oauth.resetPassword.useOAuth'|trans|sw_sanitize }}</p>
                <div class="tinect-oauth-providers d-grid gap-2 mt-3">
                    {% for client in oauthClients %}
                        <a href="{{ path('widgets.tinect.oauth.redirect', { clientId: client.id }) }}"
                           class="btn btn-primary tinect-oauth-btn tinect-oauth-btn--{{ client.provider|escape('html_attr') }}">
                            {{ 'tinect-oauth.login.loginWith'|trans({ '%provider%': client.name })|sw_sanitize }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
